body{
font-family:Arial;
margin:20px;
}

.menu button{
margin:5px;
padding:8px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #ccc;
padding:8px;
text-align:center;
}

#heatmap{
display:flex;
flex-wrap:wrap;
}

.heat{
width:90px;
height:60px;
margin:5px;
color:white;
display:flex;
align-items:center;
justify-content:center;
}